node_modules/
Gemfile.lock
*.pdf
.sass-cache/

articles/*.pdf
articles/*.epub
articles/*.html
articles/*.md
articles/*.xml
articles/*.txt

# macOS
.DS_Store

# IntelliJ
.idea/

# VS Code
.vscode/

# direnv
.envrc
